body {
    width: 100vw;
    height: 100vh;
    background: #404040;
}

h1 {
    text-align: center;
}
#control-display {
    text-align: center;
    display: none;
}
#gameboard {
    width: 500px;
    height: 500px;
    margin: auto;
    background: #e5e5e5;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    display: grid;
}

.game-tile {
    border: 1px solid black;
}

.new-player {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: auto;
}

#player-2-form {
    display: none;
}

#gameboard-wrapper {
    display: none;
    flex-direction: column;
}

#reset-button {
    width: 100px;
    height: 50px;
    margin: auto;
}