body {
    width: 100vw;
    height: 100vh;
    background: #404040;
}

h1 {
    text-align: center;
    background-color: #fafafa;
    color: #171717;
    margin: 0px 0px 10px;
    font-size: 48px;
    height: 100px;
    font-family: 'Schoolbell', cursive;
}
#control-display {
    text-align: center;
    display: none;
    color: #f5f5f5;
    font-family: 'Schoolbell', cursive;
}
#gameboard {
    width: 500px;
    height: 500px;
    margin: auto;
    
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    display: grid;
}

.game-tile {
    border: 1px solid black;
    background-color: #e5e5e5;
    z-index: 100;
    display: flex;
}

.game-tile :hover {
    background-color: #a3a3a3 !important;
}

.new-player {
    display: flex;
    background: #d4d4d4;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
}

#player-2-form {
    display: none;
}

#gameboard-wrapper {
    display: none;
    flex-direction: column;
}

#reset-button {
    width: 100px;
    height: 50px;
    margin: 10px auto auto;
}